<div class="container" style="text-align:center; padding-top:20px; padding-bottom:20px">
  <h1>All Rewards</h1>
</div>

<% if user_signed_in? %>
  <div style="text-align:center">
    <h3>You currently have <%= current_user.try(:karma) %> points.</h3>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th style="text-align: center">Business</th>
        <th style="text-align: center">Name</th>
        <th style="text-align: center">Cost</th>
      </tr>
    </thead>
    <tbody>
      <% @rewards.each do |reward| %>
        <tr>
          <td style="text-align: center"><%= link_to 'Show', reward, :class => 'btn btn-primary btn-round' %></td>
          <td style="text-align: center"><%= reward.business.email %></td>
          <td style="text-align: center"><%= reward.name %></td>
          <td style="text-align: center"><%= reward.cost %> Points</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
