<div class="container">
	<h3 style="text-align:center">
	  <strong><%= @reward.name %></strong>
	</h3>

	<p style="text-align:center">
	  <strong>From:</strong>
	  <%= @reward.business.name %> 
	</p>

	<p style="text-align:center">
	  <strong>Cost:</strong>
	  <%= @reward.cost %> Points
	</p>

	<p style="text-align:center">
	  <strong>Description:</strong>
	  <%= @reward.description %>
	</p>
	<div style="text-align:center">
		<%= link_to 'Edit', edit_reward_path(@reward) %> |
		<%= link_to 'Back', :back %>
	</div>
</div>