<body>
  <% if user_signed_in? %>
  <div class="container" style="text-align:center; padding-top:; padding-bottom:">
    <h1>Dashboard</h1>
  </div>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <% @enrolls.each do |enroll| %>
              <div class="card container-fluid">
                  <div class="header">
                      <h4 class="title"><%= enroll.course.try(:name) %></h4>
                      <p class="category"><div class="btn-group"><%= link_to 'Course Page', course_path(enroll.course), :class => 'btn btn-primary' %><%= link_to 'Unenroll', enroll, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></div></p>
                  </div>
                  <div class="content">
                      <%= enroll.course.posts.count %> posts
                      <%= enroll.course.enrolls.count %> enrolls
                  </div>
              </div>
          <% end %>
          </div>
          <div class="col-md-6">
            <div class="table-responsive">
              <div class="container-fluid">
                <h4 class="title">My Posts</h1>

                <table class="table">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Course</th>
                      <th>Post Karma</th>
                      <th>Time created</th>
                      <th colspan="1"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @myposts.each do |post| %>
                      <tr>
                        <td><%= post.title %></td>
                        <td><%= post.course.name %></td>
                        <td><%= post.get_upvotes.size %> - <%= post.get_downvotes.size %> = <%= post.weighted_score %> </td>
                        <td><%= time_ago_in_words(post.created_at) + " ago" %></td>
                        <td><%= link_to 'Show', post, :class => 'btn btn-primary btn-round' %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="table-responsive">
              <div class="container-fluid">
                <h4 class="title">My Comments</h1>

                <table class="table">
                  <thead>
                    <tr>
                      <th>Post</th>
                      <th>Content</th>
                      <th>Comment Karma</th>
                      <th>Time created</th>
                      <th colspan="1"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @mycomments.each do |comment| %>
                      <tr>
                        <td><%= comment.post.title %></td>
                        <td><%= comment.content %></td>
                        <td><%= comment.get_upvotes.size %> - <%= comment.get_downvotes.size %> = <%= comment.weighted_score %> </td>
                        <td><%= time_ago_in_words(comment.created_at) + " ago" %></td>
                        <td><%= link_to 'Show', comment.post, :class => 'btn btn-primary btn-round' %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
  <div class="wrapper">
    <div class="container" style="text-align:center; padding-top:20px; padding-bottom:20px">
      <h1>Welcome to Skoosm!</h1>
    </div>
     <br>
     <div class="container">
         <div class="row">
              <div class="col-md-6">
                 <h5>Shoulders of Giants</h5>
                 <p>
                     Isaac Newton once said "If I have seen further than others, it is by standing on the shoulders of giants." You are not the first person to have struggled with this problem for this class and you will not be the last. Skoosm is a place where studnets can find the answers to their problems and help others with theirs as well.</p>
                  <p>
                    Make sure to sign up and browse around for anything that may help with your classes or help others and recieve rewards. </p>

             </div>
             <div class="col-md-6">
                <div class="img-container">
                    <img src="../assets/img/thumb.jpg" alt="..." />
                </div>
             </div>
          </div>
     </div>
     <div class="space-50"></div>

       <div class="social-line">
           <div class="container">
              <div class="row">
                   <div class="col-sm-3">
                       <a href="" class="btn btn-round btn-fill btn-social btn-facebook">
                           <i class="fa fa-facebook-square"></i> Facebook
                       </a>
                   </div>
                    <div class="col-sm-3">
                       <a href="" class="btn btn-round btn-fill btn-social btn-twitter">
                           <i class="fa fa-twitter"></i> Twitter
                       </a>
                   </div>
                    <div class="col-sm-3">
                       <a href="" class="btn btn-round btn-fill btn-social btn-google">
                           <i class="fa fa-google-plus-square"></i> Google+
                       </a>
                   </div>
                   <div class="col-sm-3">
                       <a href="" class="btn btn-round btn-fill btn-social btn-reddit">
                           <i class="fa fa-reddit"></i> Reddit
                       </a>
                   </div>
              </div>
           </div>
       </div>



  </div> <!-- wrapper -->
  <% end %>
</body>