<div class="container">
  <div class="row">
    <h3 style="text-align:center">
      <%= @post.title %>
    </h3>
    <p style="text-align:center">
      By: <%= @post.user.email %>(<%= @post.user.try(:karma) %>)
    </p>
    <p style="text-align:center">
      <%= time_ago_in_words(@post.created_at) + " ago" %>
    </p>
    <% if @post.url.blank? %>
    <% else %>
    <p style="text-align:center">
      <%= link_to @post.url, @post.url, :target => "_blank" %>
    </p>
    <% end %>

  </div>
</div>

<div class="container" style="padding-top:70px">
 <div class="row">
    <div class="col-md-8 bottom-border">
      <h1 class="title title-blog"></h1><h3></h3>
      <p><%= @post.content %></p>
      <br>
      <br>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <div class="social-buttons">
        <p style="text-align: center">Points: <%= @post.get_upvotes.size %> - <%= @post.get_downvotes.size %> = <%= @post.weighted_score %></p>
    </div>

    <p style="text-align:center">
      <%= @post.course.name %>
    </p>

    <div style="text-align:center">
      <% if @post.user == current_user %>
      <td><%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-info btn-round' %></td>
      <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-round' %></td>
      <% end %>
      <br>
      <br>
      <%= link_to 'Back', :back, :class => 'btn btn-default btn-round' %>
      <%= link_to 'Flag', flag_post_path(@post), method: :post, :class => 'btn btn-warning btn-round' %>
    </div>
  </div>
 </div>
 <div class="section">
  <div class="container container-comments">
    <h3 class="title" style="text-align:center">Comments</h3>
    <div class="row" style="">
      <div class="col-md-8 ">
          <div class="media-area">
              <div class="media">
                <div class="media-body">
                  <%= render :partial => @post.comments.where.not(id: Hide.select(:comment_id)) %>
                </div>
              </div> 
              <!--  Comment  -->
            <%= render "comments/form" %>
          </div> 
      </div> <!-- end col-md-8 -->
    </div>
  </div>
 </div>
</div>
